:root {
   --primary-color: #2E4259;
   --secondary-color: #02C8FA;
   --accent-1: #F25430;
   --light: #EDF2F2;
   --dark: #737373;
}

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    background-color: var(--light);
    color: var(--dark);
}

.header-nav {
    text-align: center;
    padding: 10px;
    height: 200px;
    width: 90%;
    margin: auto;
    color: var(--light);
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: var(--primary-color);
    border-radius: 3px;
}

.text {
    width: 45%;
    margin: auto;
    background-color: var(--secondary-color);
    color: var(--light);
    border-radius: 3px;
    padding: 20px 10px;
    margin-bottom: 30px;
}
.pokemon-list {
    list-style-type: none;
    padding-left: 0;
}

.button {
    background-color: var(--light);
    color: var(--dark);
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 70%;
    padding: 15px;
    text-align: left;
    text-transform: capitalize;
    transition: opacity .2s;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 1;
    border: 2px solid var(--primary-color);
}

.modal-container {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: none;
    text-align: center;
}

.modal-container.is-visible {
    display: grid;
}

.modal {
    margin: auto;
    display: inline-block;
    background: var(--light);
    padding: 15px;
    width: 100%;
    max-width: 700px;
    border-radius: 3px;
    color: var(--dark);
    text-transform: capitalize;
}

.modal-close {
    float: right;
    border: 0;
    background: none;
    color: var(--dark);
}

.modal-close:hover {
    color: var(--accent-1);
}

.modal h2, .modal p{
    margin-top: 0;
    text-align: left;
}

.modal img {
    width: 30%;
}

/* type section  */

.types-container {
    display: grid;
    grid-template-columns: 4em 4em 4em;
    grid-template-rows: 1.5em;
    grid-gap: 5px;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    border-radius: 3px;
    text-transform: uppercase;
}

.type > p, h2 {
    margin-bottom: 0;
}

.normal { background: #A8A77A }
.fire {  background: #EE8130 }
.water { background: #6390F0 }
.electric { background: #F7D02C }
.grass { background: #7AC74C }
.ice{ background: #96D9D6 }
.fighting { background: #C22E28 }
.poison { background: #A33EA1 }
.ground { background: #E2BF65 }
.flying { background: #A98FF3 }
.psychic { background: #F95587 }
.bug { background: #A6B91A }
.rock { background: #B6A136 }
.ghost { background: #735797 }
.dragon { background: #6F35FC }
.dark { background: #705746 }
.steel { background: #B7B7CE }
.fairy { background: #D685AD }



/* media queries */

@media only screen and (max-width: 800px){
    .text {
        width: 80%;
        padding: 15px 7.5px;
    }

    .button {
        width: 80%;
    }
}

@media only screen and (max-width: 500px){
    .header-nav {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .text {
        width: 100%;
        padding: 5px 5px;
    }

    .button {
        width: 90%;
        text-align: center;
    }

    .modal img {
        width: 50%;
    }
}